name: Terraform_deploy

on:
  push:
    branches:
      - main

  workflow_dispatch:
    inputs:
      actions:
        description: "Terraform  action to perform"
        required: true
        default: "apply"
        type: choice
        options:
          - apply
          - destroy

env:
  AWS_REGION: ap-south-1
  TF_VERSION: "1.6.0"

jobs:
  terraform:
    name: Run Terraform
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        if: github.event_name == 'push' || github.event.inputs.actions == 'apply'
        run: terraform apply -auto-approve

      - name: Terraform Destroy
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.actions == 'destroy'
        run: terraform destroy -auto-approve

      # - name: Terraform Apply
      #   if: github.event.inputs.actions == "apply"
      #   run: terraform apply -auto-approve
      
      # - name: Terraform Destroy
      #   if: github.event.inputs.actions == "destroy"
      #   run: terraform destroy -auto-approve 